@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

//font-family
$roboto: "Roboto", sans-serif;

//font-weight;
$roboto-light: 300;
$roboto-normal: 400;
$roboto-medium: 500;
$roboto-bold: 700;

//font-size
$font-size-base: 1rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.75rem;
